@using TestTask.Models

@model IEnumerable<MainLogModel>
@{
    ViewBag.Title = "Index";
}



<h2>БД</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Результат</th>
        <th>Тип</th>
        <th>Дата</th>
        <th>IP</th>
        <th>NameIP</th>
        <th>Way</th>
        <th>Title</th>
        <th>Size</th>
    </tr>
    @if (Model != null)
    {
        foreach (MainLogModel mainlog in Model)
        {
    <tr>
        <td>@mainlog.ID</td>
        <td>@mainlog.result</td>
        <td>@mainlog.type</td>
        <td>@mainlog.date</td>
        <td>
            @(mainlog.IPAdress.FirstOrDefault(item => item.ID_IP == mainlog.IPAdressId)?.IP)
        </td>
        <td>
            @(mainlog.IPAdress.FirstOrDefault(item => item.ID_IP == mainlog.IPAdressId)?.Name_of_company)
        </td>
        <td>
            @(mainlog.Files.FirstOrDefault(item => item.ID_of_file == mainlog.FilesId)?.Way)
        </td>
        <td>
            @(mainlog.Files.FirstOrDefault(item => item.ID_of_file == mainlog.FilesId)?.Title)
        </td>
        <td>
            @(mainlog.Files.FirstOrDefault(item => item.ID_of_file == mainlog.FilesId)?.Size)
        </td>
    </tr>
        }
    }
</table>
@Html.ActionLink("Index", "Index", "MainLog", new { @class = "btn btn-default" })